.edit-ctr{
  margin-top:150px;
}
.edit-title{
font-family: 'Yeon Sung',
cursive;
font-size: 50px;
margin: 10px;
}
.edit-input{
  height: 30px;
  width: 250px;
  margin: 10px;
}
.edit-bttn{
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-family: 'Yeon Sung',
    cursive;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 7px 7px;
}